* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  font-family: "Poppins", sans-serif;
  background-image: url(./bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  background-blend-mode: multiply;
}
/* change here */
.main-body {
  margin: 25px auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 80%;
  display: flex;
  padding: 2em;
  flex-direction: column;
}
.left-side {
  color: white;
  text-align: center;
  margin-bottom: 1.5em;
}
.left-head {
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}
.left-side p {
  line-height: 1.7em;
  font-weight: 400;
}
.left-paragraph {
  font-size: 0.78em;
  font-weight: 500;
}
.trial-text {
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  font-size: 0.8em;
  color: white;
  padding: 1em 6em;
  border-radius: 0.5em;
  margin-bottom: 2em;
  box-shadow: 0 5px hsl(0, 55%, 74%);
}
.trial-span {
  font-weight: 600;
}
.lower-right {
  background-color: #fff;
  padding: 1em;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 5px hsl(0, 55%, 74%);
}
.form-input {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 0.75em;
  border: 0.1px solid rgb(221, 216, 216);
  border-radius: 4px;
}
.form-input:focus {
  outline: 1px solid rgb(27, 25, 25);
}
#form-btn {
  color: #fff;
  background-color: hsl(154, 59%, 51%);
  letter-spacing: 0.1em;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 1.3em;
  font-weight: 600;
}
.claim-text {
  font-size: 0.75em;
  line-height: 1.7em;
  color: hsl(246, 25%, 77%);
}
.terms-span {
  color: hsl(0, 100%, 74%);
  font-size: 1.2em;
  cursor: pointer;
}

@media only screen and (min-width: 920px) {
  /* change here */
  .main-body {
    flex-direction: row;
    margin: 50px auto;
  }
  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.5em;
    text-align: left;
    padding-top: 3em;
  }
  .left-head {
    font-size: 2.5em;
  }
  .left-paragraph {
    margin-top: 10px;
    font-size: 0.9em;
    line-height: 1.4em;
    letter-spacing: 0.02em;
  }
  .trial-text {
    font-size: 0.7em;
  }
  .claim-text {
    font-size: 0.45em;
    padding: 0.6em;
  }
  #form-btn {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1240px) {
  .left-paragraph {
    width: 80%;
  }
  .left-head {
    width: 70%;
  }
  .left-side {
    margin-right: -0.6em;
  }
  /* changes here */
  .left-side p {
    font-size: 0.8em;
  }
  .claim-text {
    font-size: 0.5em;
    margin-top: 0.5em;
  }
}
